.App {
  text-align: center;
  padding: 0 5vw;

  .App-header {
    display:flex;
    justify-content: left;
    height: 50px;
    margin: 20px 0;
    align-items: center;

    .App-logo {
      height: 80px;
    }
  }

  .App-blocks {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    list-style-type: none;
  }

  .App-blocks li{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: $primary-color;
    color: white;
    margin: 5px;
  }

  .App-form input{
    display: flex;
    margin: 10px auto;
    padding: 5px;
  }

  .button {
    background-color: $accent-color;
    border: none;
    color: $light-color;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 100;
  }

}
