.App {
    text-align: center;
    padding: 0 5vw;
    .App-header {
        display: flex;
        justify-content: left;
        height: 50px;
        margin: 20px 0;
        align-items: center;
        .App-logo {
            height: 80px;
        }
    }
    .App-blocks {
        display: flex;
        padding: 0;
        justify-content: space-evenly;
        list-style-type: none;
    }
    .App-blocks li {
        height: 100px;
        width: 100px;
        border-radius: 5px;
        border: 2px solid black;
        background-color: $primary-color;
        color: white;
        margin: 5px;
    }
    .App-form {
        input[type="text"] {
            background-color: $light-color;
            font-family: $main-font;
            font-size: calc(14px + 1vw);
            font-style: italic;
            border: 1px solid grey;
            display: flex;
            text-align: left;
            margin: 15px auto;
            padding: 6px 12px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.24);
        }
        input[type="radio"] {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        label {
          display: block;
          line-height: 2;
          font-size: 1em;
        }

        [type="radio"]+span {
            display: block;
        }
        [type="radio"]+span:before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            vertical-align: -0.25em;
            border-radius: 1em;
            border: 0.125em solid #fff;
            box-shadow: 0 0 0 0.15em #000;
            margin-right: 0.75em;
            transition: 0.5s ease all;
        }
        [type="radio"]:checked+span:before {
            background: $accent-color;
            box-shadow: 0 0 0 0.25em #000;
        }
        /* never forget focus styling */
        [type="radio"]:focus+span:after {
            font-size: 1.5em;
            line-height: 1;
            vertical-align: -0.125em;
        }
    }
    .button {
        background-color: $accent-color;
        border: none;
        color: $light-color;
        padding: 15px 25px;
        margin: 15px 0;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 100;
    }
    @media screen and (max-width: 600px) {
        .button {
            width: 100%;
        }
        .App-form {
            text-align: left;
            .full {
                width: 100%;
            }
            .half {
                width: 46%;
            }
        }
    }
    @media screen and (min-width: 600px) {
        input {
            width: calc(600px + 1vw)
        }
    }
    .right {
        float: right;
    }
    .left {
        float: left;
    }
}
