@import url("https://fonts.googleapis.com/css?family=Crimson+Text");
* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

body {
  margin: 0;
  padding: 0;
  font-family: "Crimson Text", serif;
  width: 100%;
  height: 100%; }

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .shadow:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    .shadow:hover:active {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.App {
  text-align: center;
  padding: 0 5vw; }
  .App .App-header {
    display: flex;
    justify-content: left;
    height: 50px;
    margin: 20px 0;
    align-items: center; }
    .App .App-header .App-logo {
      height: 80px; }
  .App .App-blocks {
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    list-style-type: none; }
  .App .App-blocks li {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #002868;
    color: white;
    margin: 5px; }
  .App .App-form {
    /* never forget focus styling */ }
    .App .App-form input[type="text"] {
      background-color: #FFFFFF;
      font-family: "Crimson Text", serif;
      font-size: calc(14px + 1vw);
      font-style: italic;
      border: 1px solid grey;
      display: flex;
      text-align: left;
      margin: 15px auto;
      padding: 6px 12px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25), 0 3px 6px rgba(0, 0, 0, 0.24); }
    .App .App-form input[type="radio"] {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px; }
    .App .App-form label {
      display: block;
      line-height: 2;
      font-size: 1em; }
    .App .App-form [type="radio"] + span {
      display: block; }
    .App .App-form [type="radio"] + span:before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      vertical-align: -0.25em;
      border-radius: 1em;
      border: 0.125em solid #fff;
      box-shadow: 0 0 0 0.15em #000;
      margin-right: 0.75em;
      transition: 0.5s ease all; }
    .App .App-form [type="radio"]:checked + span:before {
      background: #EC4F52;
      box-shadow: 0 0 0 0.25em #000; }
    .App .App-form [type="radio"]:focus + span:after {
      font-size: 1.5em;
      line-height: 1;
      vertical-align: -0.125em; }
  .App .button {
    background-color: #EC4F52;
    border: none;
    color: #FFFFFF;
    padding: 15px 25px;
    margin: 15px 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 100; }
  @media screen and (max-width: 600px) {
    .App .button {
      width: 100%; }
    .App .App-form {
      text-align: left; }
      .App .App-form .full {
        width: 100%; }
      .App .App-form .half {
        width: 46%; } }
  @media screen and (min-width: 600px) {
    .App input {
      width: calc(600px + 1vw); } }
  .App .right {
    float: right; }
  .App .left {
    float: left; }
